.restaurant-page {
}
.restaurant-page__title {
  @include title();
}
.restaurant-page__list-title {
  font-size: 36px;
  margin-top: 20px;
}
.restaurant-page__menu-list {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
  margin-left: -20px;
}
