// Цвета

$cMain: rgba(146, 189, 136, 1);
$cBackground: rgba(246, 246, 246, 1);
$cBlack: rgba(22, 22, 22, 1);
$cRed: #d50000;

$transition: 0.3s;

$tSmall: 18px;
$tMiddle: 20px;
$tBig: 24px;

// Шрифты

$fontFamily: "Roboto", sans-serif;

@mixin title() {
  font-size: 54px;
}
