* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "./variables";
// Шрифты
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
//

body {
  font-family: $fontFamily;
}
// Шаблоны
@import "../layouts/page-container-layout";

// Страницы
@import "../pages/pages-style";
@import "../pages/restaurant-page/restaurant-page";
@import "../pages/editing-pages/editing-pages";

// Компоненты
@import "../components/restaurant-card/restaurant-card";
@import "../components/dish-card/dish-card";
@import "../components/basket/basket-dishes/basket-dishes";
@import "../components/preloader/preloader";
@import "../components/message/message";
@import "../components/basket/basket";
@import "../components/navbar/navbar";
@import "../components/search/searchField";
@import "../components/login-window/login-window";
@import "../components/application-components/application-button/application-btn";
@import "../components/forms/forms";
@import "../components/new-dish-button/new-dish-button";
